<form (ngSubmit)="onSubmit()" class="font1">
    <h2>Ingresa un nuevo articulo!</h2>
    
    <div>
        <label for="">Nombre del Artículo</label>
        <input class="inptext" type="text" name="tittle" [(ngModel)]="tittle" placeholder="Harina"> 
    </div>

    <div>
        <label for="">Precio</label>
        <input class="inptext" type="text" name="price" [(ngModel)]="price" placeholder="$100">
    </div>

    <div>
        <label for="">Cantidad</label>
        <input class="inptext" type="text" name="quantity" [(ngModel)]="quantity" placeholder="2 unidades">
    </div>

    <input class="boton" type="submit" value="Crear">
</form>