<div class="row">
    <div class="tittle">
        <input type="checkbox" [checked]="item.completed"> <!--El check box me servirá para saber si tal articulo ya fue pagado o no-->
        {{item.tittle}}
    </div>

    <div class="price">
        {{item.price | currency}}
    </div>

    <div class="quantity">
        {{item.quantity}}
    </div>

    <div class="total">
        {{(item.price*item.quantity | currency)}}
    </div>

    <div class="actions">
        <button>Eliminar</button> <!--El boton eliminar eliminará el producto de mi lista de datos-->
    </div>
</div>

