.row{
    display: flex;
    box-sizing: border-box;
    
}

.row:hover{
    border-radius: 3px;
    background: #eee;
}

.completed{
    text-decoration: line-through;
    color: rgba(81, 81, 81, 0.605);
}

.completed .total{
    color:#3e9c35a2 ;
}


div{
    padding: 5px 0;
}

.tittle{
    display: flex;
    width: 50%;
    padding: 0 5px;
}

.price{
    width: 15%;
    padding: 0 5px;
    text-align: center;
}

.quantity{
    width: 10%;
    padding: 0 5px;
    text-align: center ;
}

.total{
    width: 15%;
    font-weight:bold;
    color: #3e9c35;
    padding: 0 5px;
    text-align: center;
}

.actions{
    width: 10%;
    text-align: center;
    box-sizing: border-box;
    padding: 0 5px;
    
}

.actions button{
    border: none;
    font-size: 12px;
    background-color: rgba(255, 0, 0, 0.758);
    color: white;
    padding: 5px;
    width: 100%;
    border-radius: 15px;

}

.actions button:hover{
    background-color: rgb(255, 0, 0);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


