<html lang="en">
<head>
  <title>Footer Design</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body class="">

  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>Compañía</h4>
  	 			<ul>
  	 				<li><a href="#">sobre nosotros</a></li>
  	 				<li><a href="#">nuestros servicios</a></li>
  	 				<li><a href="#">política y privacidad</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Obtener ayuda</h4>
  	 			<ul>
  	 				<li><a href="#">preguntas frecuentes</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Links utiles</h4>
  	 			<ul>
  	 				<li><a routerLink="/add">Agregar artículo</a></li>
                    <li><a routerLink="/">Lista</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Siguenos!</h4>
  	 			<div class="social-links">
  	 				<a href="https://www.facebook.com/BocaJuniors"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="https://twitter.com/BocaJrsOficial"><i class="fab fa-twitter"></i></a>
  	 				<a href="https://www.instagram.com/bocajrsoficial/?hl=es"><i class="fab fa-instagram"></i></a>
  	 				<a href="https://ar.linkedin.com/company/boca-juniors"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

</body>
</html>
